 .inputLabel {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.inputField {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box
}

.inputContainer {
    text-align: left;
}